@{
    ViewData["Title"] = "Access Denied";
}
<header>
    <h1 class="text-danger">Access Denied.</h1>
    <p class="text-danger">You do not have access to this resource: your account isn't whitelisted.</p>
    <a asp-controller="Home" asp-action="Index">Run back!</a>
</header>
